{% extends "base.html" %}
{% load static %}
{% block extra_title %}
  | Blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div>
    <h2 class="logo-font mt-5 mb-5 center blog-logo"><i>Blog</i></h2>
</div>

{% for blog in blogs %}
<div class="container">
    <hr>
    <div class="row">
        
         <div class="col-4">
             <p>Posted By: <span class="text-muted">{{ blog.blog_author }}</span></p>
             <p>On: <span class="text-muted">{{ blog.blog_created }}</span></p>
             <p class="pt-4">Updated: <span class="text-muted">{{ blog.blog_updated }}</span></p>
         </div>
         <div class="col-8">
             <h3 class="blog-title">{{ blog.blog_title }}</h3>
             {% if blog.blog_image %}
                <img src="{{ blog.blog_image_url }}" alt="{{ blog.blog_title }}" class="blog-image">
            {% else %}
                <img src="{{ MEDIA_URL }}no-blog-image.jpeg" alt="{{ blog.blog_title }}" class="blog-image">
             {% endif %}
         </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 head-container">
            <p class="blog-description "><strong><i>{{ blog.blog_heading }}</i></strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <p>{{ blog.blog_main }}</p>
        </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}