{% extends "base.html" %}
{% load static %}
{% block extra_title %}
  | Blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div>
    <h2 class="logo-font mt-5 mb-5 center blog-logo"><i>Blog</i></h2>
</div>

{% for blog in blog_list %} <!--for blog in blogs-->
<div class="container">
    <hr>
    <div class="row">
        
         <div class="col-4">
             <p>Posted: <span class="text-muted">{{ blog.blog_created | timesince}} ago</span></p>
             <p>Posted By: <span class="text-muted">{{ blog.blog_author }}</span></p>
             <p>On: <span class="text-muted">{{ blog.blog_created }}</span></p>
             <p>Updated: <span class="text-muted">{{ blog.blog_updated }}</span></p>
             {% if request.user.is_superuser %}
             <div>
              <a class="edit btn mr-5" href="{% url 'edit_blog' blog.id %}">Edit</a>
              <a class="delete btn" href="{% url 'delete_blog' blog.id %}">Delete</a>
            </div>
             {% endif %}
         </div>
         <div class="col-8">
             <h3 class="blog-title">{{ blog.blog_title }}</h3>
             {% if blog.blog_image %}
                <img src="{{ blog.blog_image_url }}" alt="{{ blog.blog_title }}" class="blog-image">
            {% else %}
                <img src="{{ MEDIA_URL }}no-blog-image.jpeg" alt="{{ blog.blog_title }}" class="blog-image">
             {% endif %}
         </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 head-container">
            <p class="blog-description "><strong><i>{{ blog.blog_heading }}</i></strong></p>
            <a href="{% url 'full_post' blog.id %}" class="btn btn-links">See full Post</a>
        </div>
    </div>
  </div>
</div>
{% endfor %}

<!--Pagination-->
<div class="col-12 center mt-5">
{% if blog_list.has_previous %}
  <a class="mr-2 pagination-links" href="?page=1">&laquo First Page</a>
  <a class="mr-2 pagination-links-alt" href="?page={{ blog_list.previous_page_number }}">Previous</a>
{% endif %}

<span class="ml-2 mr-2">Page {{ blog_list.number }} of {{ blog_list.paginator.num_pages }}</span>

{% if blog_list.has_next %}
  <a class="pagination-links-alt mr-2" href="?page={{ blog_list.next_page_number }}">Next Page</a>
  <a class="pagination-links" href="?page={{ blog_list.paginator.num_pages }}">Last &raquo</a>
{% endif %}
</div>

{% endblock %}


{% block postloadjs %}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}
