{% extends "base.html" %}
{% load static %}
{% block extra_title %}
  | {{ blogs.blog_title }} blog
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div>
    <h2 class="logo-font mt-5 mb-5 center blog-logo roboto blog-title"><i>{{ blogs.blog_title }}</i></h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 center">
            <span class="dark-blue"><strong>Posted By: </strong><span class="text-muted">{{ blogs.blog_author }}  |  </span></span>
             <span class="dark-blue"><strong>On: </strong><span class="text-muted">{{ blogs.blog_created }}  |  </span></span>
             <span class="dark-blue"><strong>Updated: </strong><span class="text-muted">{{ blogs.blog_updated }}</span></span>
        </div>
    </div>

    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12 center mt-2 mb-2" id="options">
            <a class="edit btn mr-5" href="{% url 'edit_blog' blogs.id %}">Edit</a>
            <a class="delete btn" href="#">Delete</a>
        </div>
        <div class="col-12 center mt-2 mb-2" id="show">
            <a class="cancel btn mr-5" href="{% url 'full_post' blogs.id %}">Cancel</a>
            <a class="confirm btn" href="{% url 'delete_blog' blogs.id %}">Confirm Delete</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 center">
            {% if blogs.blog_image %}
                <img src="{{ blogs.blog_image_url }}" alt="{{ blogs.blog_title }}" class="blog-image-full">
            {% else %}
                <img src="{{ MEDIA_URL }}no-blog-image.jpeg" alt="{{ blogs.blog_title }}" class="blog-image-full">
             {% endif %}
        </div>
        <div class="col-12">
            <p class="blog-description-full center"><i><strong>{{ blogs.blog_heading }}</strong></i></p>
        </div>
        <div class="col-12">
            <p>{{ blogs.blog_main }}</p>
        </div>



        <!--Blog Comments-->
       <div class="mt-5">
            {% if user.is_authenticated %}
            <form method='POST' action="{% url 'full_post' blogs.id %}">
            <h3>Leave a Comment!</h3>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
                <a class="btn btn-links" href="{% url 'blog_post_page' %}">Cancel Upload</a>
                <button type="submit" class="btn btn-links">Upload</button>
            </div>
            {% endif %}
            </form>
        </div>
        <div class="col-12">
            {% for post in blog_comment.all %}
              <p>{{ main_comment }}</p>
            {% endfor %}
        </div>
        <div class="col-12">
            <p class="center">
                <a href="{% url 'blog_post_page' %}" class="btn btn-links mt-3">Back to Blogs</a>
              </p>
        </div>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
    <script src="{% static 'blog/js/blog_full.js' %}"></script>
{% endblock %}