{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div class="form-image"  style="background-image: '{{ MEDIA_URL }}ms4-login.jpeg';">
<div class="form-container center">

<h1 class="login-head center form-element pt-5"><i>{% trans "Sign In" %}</i></h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="center">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}" class="form-links">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers center">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="center form-content form-element">{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}" class="form-content">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login center form-element" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>
  <a class="button secondaryAction form-links" href="{% url 'account_reset_password' %}" class="form-element">{% trans "Forgot Password?" %}</a>
  </p>
  <button class="primaryAction btn btn-links form-element" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
</div>

{% endblock %}
