{% extends "base.html" %}
{% load static %}
{% block extra_title %}
  | Something went wrong
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<section>
    <div class="container error-container mt-5">
        <hr>
        <div class="row">
          <div class="col-12">
            <h2 class="center headings mt-3 green"><strong><i>Something went wrong when trying to render your request...</i></strong></h2>
            <p class="mt-3"><a class="cat-products center orange" href="{% url 'products' %}">Back to store</a></p>
          </div>
        </div>
    </div>

    </div>
</section>


</section>
{% endblock %}