{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  | Contact Form
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="logo-font mt-5 mb-5 center"><i>Your Messages</i></h2>
            <p class="text-muted">Here are your messages from customers</p>
        </div>
    </div>
    {% for m in message %}
    <div class="messages-container mt-5 p-2">
    <p class="text-muted">{{ m.contact_sent }}</p>
    <h4><span class="detail">SENDER: </span>{{ m.contact_name }}</h4>
    <h5><span class="detail">EMAIL: </span>{{ m.contact_email }}</h5>
    <p>{{ m.contact_body }}</p>
    <a class="btn btn-links" href="{% url 'delete_message' m.id %}">Delete</a>
    </div>
    {% endfor %}
    
    
</div>

{% endblock %}

